---
import LayoutNavless from "../layouts/LayoutNavless.astro";
---

<LayoutNavless title="404 // Pierre PRÉZELIN // Intégrateur - Webdesigner">
  <main>
    <div class="error404">
      <div class="error404-container">
        <h1>Page introuvable :'(</h1>
        <a href="/">Retour</a>
      </div>
    </div>
  </main>
</LayoutNavless>
